body{
    width: 100%;
    height: 100vh;
}

.border_blk{
    border: 1px solid black;
}

.border_wht{
    border: 0.5px solid white;
}

.light_pink{
    background-color: #FFC0CB;
}

.dark_pink{
    background-color: #F07F80;
}

.row{
    height: 300px;
}